  <div class="section white">
      <div class="row">
          <div class="col s12 m6" *ngFor=" let pageInfo of pageData" >
            <div class="card">
              <div class="card-image">
                <img src="img">
                <span class="card-title">
                    <a [routerLink]="['page', pageInfo.title]" class="white-text" >
                 <h3> {{pageInfo.title}}</h3>
                </a></span>
              </div>
              <div class="card-content">
                <p *ngFor=" let contentData of pageInfo.content">{{contentData.content}}</p>
              </div>
              <div class="card-action">
                <a  [routerLink]="['page', pageInfo.id]" >{{pageInfo.title}}</a>
              </div>
            </div>
          </div>
        </div>
  </div>

