<div class="row">
  <div class="col s4">
      <div class="collection with-header">
        <h5 class="collection-header">Меню</h5>
        <a routerLink="/admin/page/0" class="collection-item">Страници</a>
        <a routerLink="/admin/content/0" class="collection-item">Съдържание</a>
        <a routerLink="/admin/sub_pages/0" class="collection-item">Вътрешни страници</a>
        <a routerLink="/admin/galery/0" class="collection-item">Галерия</a>
      </div>
      <app-admin-list></app-admin-list>
  </div>
  <div class="col s4">
    <app-admin-form></app-admin-form>
  </div>
  <div class="col s4">
      <app-admin-form></app-admin-form>
    </div>
</div>